<md-toolbar color="primary">
		<img src="app/assets/img/senec-logo.jpg" class="senec-avatar"/>
		<md-toolbar-row fxLayoutAlign="start start">
			<div fxLayout="column">
				<span *ngIf="angularFire.state" flex class="name" >Olá, {{angularFire.state.auth.displayName.split(" ")[0]}}</span>
				<span *ngIf="angularFire.state" flex class="email">{{angularFire.state.auth.email}}</span>
			</div>
		</md-toolbar-row>
</md-toolbar>

<md-list-item *ngFor=" let group of menuItems | groupBy:'category' let first = first ">
	<md-nav-list>
			<md-divider *ngIf="!first"></md-divider>
			<h3 *ngIf="!first" md-subheader>{{group.key}}</h3>
			<a md-list-item *ngFor="let item of group.value" routerLink="{{item.link}}" routerLinkActive="active">
  				<md-icon md-list-avatar fxLayoutAlign= "start center">{{item.icon}}</md-icon>
  				<h4 md-line>{{item.descricao}}</h4>
	  		</a>
	</md-nav-list>
</md-list-item>
