<md-toolbar color="primary" class="mat-elevation-z4">

	<button *ngIf="!sidenavService.sidenavOpened" (click)="sidenavService.changeState(true)" md-icon-button>
		<md-icon>menu</md-icon>
	</button>

	<span *ngIf="!isSearchOpen || state != 'xs'" style="padding-left: 16px;">Atividades</span>
	
	<span fxFlex></span>

	<search-input *ngIf="state != 'xs'" [placeholderText]="'pesquise um título'" (onToggleOpened)="setIsSearchOpen($event)" [color]="'primary'" [width]="'360px'"></search-input>

	<search-input *ngIf="state == 'xs'" [placeholderText]="'pesquise um título'" (onToggleOpened)="setIsSearchOpen($event)" [color]="'primary'" [width]="'240px'"></search-input>


	<button class="filter-button" md-button (click)=toggleVisao()>
      <md-icon *ngIf="selectedFilter == 'Semana'">view_week</md-icon>
      <md-icon *ngIf="selectedFilter == 'Dia'">view_day</md-icon>
      <span style="margin-left: 8px;"> {{selectedFilter}}</span>
    </button>



</md-toolbar> 
