dashboard-admin/node_modules
dashboard-participante/node_modules
dist
*.log
dashboard-admin/app/*.js
dashboard-admin/app/*.js.map
dashboard-admin/app/*.js.spec
dashboard-participante/app/*.js
dashboard-participante/app/*.js.map
dashboard-participante/app/*.js.spec
senec-app.sublime-project
senec-app.sublime-workspace
!dashboard-admin/systemjs.config.js
!dashboard-participante/systemjs.config.js