<md-toolbar color="primary" style="height:135px;padding-top: 12px;background-image: url('pattern.png');">
		<img src="./senec-logo.jpg" class="senec-avatar"/>
		<md-toolbar-row fxLayoutAlign="start start">
			<div fxLayout="column">
				<span flex class="name" style="padding-top: 8px;margin-bottom: 4px;">Olá, Lucas</span>
				<span flex class="email">lucas.mafra95@gmail.com</span>
			</div>
		</md-toolbar-row>
</md-toolbar>

<md-list-item *ngFor=" let group of menuItems | groupBy:'category' let first = first ">
	<md-nav-list>
			<md-divider *ngIf="!first"></md-divider>
			<h3 *ngIf="!first" md-subheader>{{group.key}}</h3>
			<a md-list-item *ngFor="let item of group.value" routerLink="{{item.link}}" routerLinkActive="active">
  				<md-icon md-list-avatar fxLayoutAlign= "start center">{{item.icon}}</md-icon>
  				<h4 md-line>{{item.descricao}}</h4>
	  		</a>
	</md-nav-list>
</md-list-item>
	
