@import './../node_modules/@angular/material/core/theming/all-theme';
@import './atividades/atividade-grid/atividade-card/_atividade-card-theme.scss';
@import './shared/search-input/_search-input-theme.scss';

@include mat-core();

$primary: mat-palette($mat-indigo, 700, 500, 900);
$accent:  mat-palette($mat-yellow);
$senec-theme: mat-light-theme($primary, $accent);

.mat-simple-snackbar-action {
	color: mat-color($accent) !important;
}

.snackbar {
	min-width: 800px;
}

.mat-simple-snackbar-message {
	margin-right: 16px;
}

@include angular-material-theme($senec-theme);
@include atividade-card-theme($theme);
@include search-input-theme($senec-theme);
