[md-subheader] {
	font-family: 'Roboto';
}

.name {
	font-size: 14px;
	font-weight: 500;
	padding-top: 8px;
	margin-bottom: 4px;
}

.email {
	font-size: 14px;
	font-weight: 400;
}

.senec-avatar {
	width:64px;
	border-radius: 100%;
}

.active {
	color: md-color($primary) !important;
	background-color: rgba(0,0,0,0.04);
	outline: none !important;
}

@media (max-width: 600px) and (orientation: portrait) {
	.senec-avatar {
		width: 56px;
	}
}

md-toolbar {
	height:135px;
	padding-top: 12px;
	background-image: url('app/assets/img/pattern.png') !important;
}