@import '../../../node_modules/@angular/material/core/theming/all-theme';

@mixin search-input($theme) {

	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	input.mat-primary::-webkit-input-placeholder {
			color: map-get($primary, default-contrast);
	}
	input.mat-primary:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: map-get($primary, default-contrast);
   opacity:  1;
	}
	input.mat-primary::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: map-get($primary, default-contrast);
   opacity:  1;
	}
	input.mat-primary:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: map-get($primary, default-contrast);
	}

	input.mat-accent::-webkit-input-placeholder {
			color: map-get($accent, default-contrast);
	}
	input.mat-accent:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: map-get($accent, default-contrast);
   opacity:  1;
	}
	input.mat-accent::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: map-get($accent, default-contrast);
   opacity:  1;
	}
	input.mat-accent:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: map-get($accent, default-contrast);
	}

	input.mat-warn::-webkit-input-placeholder {
			color: map-get($warn, default-contrast);
	}
	input.mat-warn:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: map-get($warn, default-contrast);
   opacity:  1;
	}
	input.mat-warn::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: map-get($warn, default-contrast);
   opacity:  1;
	}
	input.mat-warn:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: map-get($warn, default-contrast);
	}

	input.mat-primary {

		color: map-get($primary, default-contrast);
	}
	input.mat-accent {
		color: map-get($accent, default-contrast);
	}
	input.mat-warn {
		color: map-get($warn, default-contrast);
	}
}

input {
	width: 100%;
	background-color: inherit;
	border: none;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	font: inherit;
}

input:focus {
	outline: 0;
}
