@import '../../../node_modules/@angular/material/core/theming/all-theme';

@mixin search-input($theme) {

	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	

	input.mat-primary { 
		color: map-get($primary, default-contrast);
	}
	input.mat-accent {
		color: map-get($accent, default-contrast);
	}
	input.mat-warn {
		color: map-get($warn, default-contrast);
	}
}

input {
	width: 100%;
	background-color: inherit;
	border: none;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	font: inherit;
}

input:focus {
	outline: 0;
}


