@import '../../../../node_modules/@angular/material/core/theming/all-theme';

@include mat-core();

@mixin atividade-card-theme() {
	// Extract whichever individual palettes you need from the theme.
	$palestra: mat-palette($mat-blue);
	$workshop: mat-palette($mat-teal);
	$visita: mat-palette($mat-brown);
	$outros: mat-palette($mat-deep-orange);


	// Use mat-color to extract individual colors from a palette as necessary.
  	div.palestra {
    	background-color: mat-color($palestra);
    	color: map-get($palestra,default-contrast);
  	}

  	span.palestra {
  		color: mat-color($palestra);
  	}
	div.workshop {
		background-color: mat-color($workshop);
		color: map-get($workshop,default-contrast);
	}
	span.workshop {
		color: mat-color($workshop);
	}

	div.visita {
		background-color: mat-color($visita);
		color: map-get($visita,default-contrast);
	}
	span.visita {
		color: mat-color($visita);
	}

	div.outros {
		background-color: mat-color($outros);
		color: map-get($outros,default-contrast);
	}
	span.outros {
		color: mat-color($outros);
	}

	.palestra > .mat-progress-bar-buffer {
	background-color: mat-color($palestra,100) !important;
	}

	.palestra > .mat-progress-bar-fill::after {
		background-color: mat-color($palestra,600) !important;	
	}

	.workshop > .mat-progress-bar-buffer {
		background-color: mat-color($workshop,100) !important;
	}

	.workshop > .mat-progress-bar-fill::after {
		background-color: mat-color($workshop,600) !important;	
	}

	.visita > .mat-progress-bar-buffer {
		background-color: mat-color($visita,100) !important;
	}

	.visita > .mat-progress-bar-fill::after {
		background-color: mat-color($visita,600) !important;	
	}

	.outros > .mat-progress-bar-buffer {
		background-color: mat-color($outros,100) !important;
	}

	.outros > .mat-progress-bar-fill::after {
		background-color: mat-color($outros,600) !important;	
	}

	.quick-actions md-icon {
		color: map-get($palestra, default-contrast);
	}
	.notifications md-icon {
		color: map-get($palestra, default-contrast);	
	}
}