<md-toolbar class="md-elevation-z4" color="primary" >

	<button md-icon-button (click)="goBack()">
		<md-icon>navigate_before</md-icon>
	</button>

	<span *ngIf="atividade" style="padding-left: 16px;">{{atividade.titulo}}</span>
	<span fxFlex></span>

</md-toolbar> 

<div *ngIf="loading">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>

<div *ngIf="atividade">
  <h2>{{atividade.titulo}} details!</h2>
  <div><label>id: </label>{{atividade.id}}</div>
  <div>
  	<label>atividade: </label>
  	<input [(ngModel)]="atividade.titulo" placeholder="titulo"/>
  	<button (click)="save()">Save</button>
  </div>
  <button (click)="goBack()">Back</button>
</div>