<md-tab-group>
  <md-tab label="SEG" (click)="setSEG()">

  </md-tab >
  <md-tab label="TER">

  </md-tab>
  <md-tab label="QUA">

  </md-tab>
  <md-tab label="QUI">

  </md-tab>
  <md-tab label="SEX">
    
  </md-tab>
</md-tab-group>

<div *ngIf="loading">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>

<div class="atividades-day" *ngIf="atividades"  fxFlexFill fxLayout="column" >

    <div *ngFor="let x of atividades" fxFlex>
    <div>
      <atividade-detail-card [atividade]="x">
      </atividade-detail-card>
    </div>
</div>
</div>
