<div class="card-container" (mouseenter)="setOver(true)" (mouseleave)="setOver(false)" [class.mat-elevation-z8]="over" [ngClass]="getCardColor()" fxLayout="column">

  <md-progress-bar *ngIf="loading" [ngClass]="getCardColor()" mode="indeterminate"></md-progress-bar>

  <div class="notifications-bar">
    <div fxLayout="row"  fxLayoutAlign="end end">

      <md-icon *ngIf="!atividade.confirmed" mdTooltip="Inscrito!" mdTooltipPosition="above" fxLayoutAlign="center center">check</md-icon>

      <md-icon *ngIf="atividade.confirmed && atividade.vagas < 0" mdTooltip="Vagas esgotadas" mdTooltipPosition="above" fxLayoutAlign="center center">event_busy</md-icon>

    </div>
  </div>

  <div class="atividade-title">
    <span class="lead" style="display: inline-block;display: -webkit-box;-webkit-line-clamp: 2;overflow:hidden;-webkit-box-orient: vertical;">{{atividade.titulo}}</span>
  </div>
  
  <span fxFlex></span>

  <div flex style="align-items: flex-start;" fxLayoutAlign="start">

  <div class="quick-actions" *ngIf="atividade.confirmed" [class.visible]="true" fxLayout="row" fxLayoutAlign="start end">
    <md-icon *ngIf="atividade.confirmed" class="icon-action" mdTooltip="Retirar dos favoritos" (click)="$event.stopPropagation();favoritar()">favorite</md-icon>
  </div>
  
  <div class="quick-actions" *ngIf="!atividade.confirmed && !loading" [class.visible]="over" fxLayoutAlign="start">
    <md-icon  *ngIf="!atividade.confirmed" (click)="$event.stopPropagation();favoritar()" class="icon-action" mdTooltip="Amei">favorite_border</md-icon>
  </div>

  <span fxFlex></span>

  <div flex fxLayout="row" class="quick-actions" *ngIf="!loading" [class.visible]="true" >
    <md-icon style="margin-right: 0px" class="icon-action" mdTooltip="Pontuação">star_rate</md-icon>
    <span style="font-size: 18px;">{{atividade.pontos}}</span>
  </div>

  </div>

</div>
