<!--<button md-button (click)="login()">
Login
</button>-->
<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <md-card fxFlex="300px" fxLayout="column">
      <md-input-container>
        <input mdInput placeholder="Nome" [(ngModel)]="nome">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Email" type="email" [(ngModel)]="email">
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Senha" type="password" [(ngModel)]="password">
      </md-input-container>

      <button md-button (click)="registrar()" color="primary">
      Registrar e Logar
      </button>
  </md-card>
</div>
